opendp[polars]==0.15.1
dp_wizard_templates==0.9.0 # More than we need, but brings in dependencies.
matplotlib==3.11.0
sphinx==9.1.0
pydata-sphinx-theme==0.20.0
nbsphinx==0.9.8
pandas==3.0.5  # TODO: Remove dependency
