/* Invert the OpenDP logo in dark mode. */
.logo__image.only-dark {
    filter: invert();
}

/* On the homepage, hide the top-level in each ToC, and just go straight to recipes. */
.hide-l1 .toctree-l1 > a {
    display: none;
}

/* Light background color, to distinguish from main docs page. */
header.bd-header, footer.bd-footer {
    background-color: #FFF8E8 !important;
}
html[data-theme="dark"] header.bd-header, html[data-theme="dark"] footer.bd-footer {
    background-color: #222 !important;
}
